{% render 'partials/head.liquid' %}

<main id="content">

    {% comment %} Intro section {% endcomment %}
    <section class="intro-section">
        <div class="intro-content">
            <h1 class="main-title">Oncollaboration</h1>
            <p class="about-us-text">
                <strong>Oncollaboration</strong> is a platform that connects oncology professionals worldwide.
                Together with partners such as the <strong>Antoni van Leeuwenhoek Hospital (AVL)</strong> and
                <strong>Dr. Sardjito Hospital</strong>, we share knowledge, tools, and innovations to improve cancer
                care.
            </p>
        </div>

        {% comment %} Partners section (voornamelijk logo's) {% endcomment %}
        <div class="partners-preview">
            <h2 class="h2-main-title">Our partners</h2>
            <div class="partners-pictures">
                <picture class="partner-logo-img">
                    <source type="image/avif" srcset="../assets/kemenkessardjito.avif">
                    <source type="image/webp" srcset="../assets/kemenkessardjito.webp">
                    <img src="../assets/kemenkessardjito.png" alt="Kemenkes RS Sardjito" width="150" height="auto"
                        loading="lazy">
                </picture>

                <picture class="partner-logo-img">
                    <source type="image/avif" srcset="../assets/logo1.avif">
                    <source type="image/webp" srcset="../assets/logo1.webp">
                    <img src="../assets/logo1.png" alt="Nederlandse Vereniging voor Radiotherapie en Oncologie"
                        width="150" height="auto" loading="lazy">
                </picture>

                <picture class="partner-logo-img">
                    <source type="image/avif" srcset="../assets/logo2.avif">
                    <source type="image/webp" srcset="../assets/logo2.webp">
                    <img src="../assets/logo2.png" alt="Indonesian diasporga global network health" width="150"
                        height="auto" loading="lazy">
                </picture>

                <picture class="partner-logo-img">
                    <source type="image/avif" srcset="../assets/logo3.avif">
                    <source type="image/webp" srcset="../assets/logo3.webp">
                    <img src="../assets/logo3.png" alt="RSUP Dr. Sardjito Hospital Yogyakarta" width="150" height="auto"
                        loading="lazy">
                </picture>

                <picture class="partner-logo-img">
                    <source type="image/avif" srcset="../assets/logo4.avif">
                    <source type="image/webp" srcset="../assets/logo4.webp">
                    <img src="../assets/logo4.png" alt="Universitas Gadjah Mada Yogyakarta" width="150" height="auto"
                        loading="lazy">
                </picture>

                <picture class="partner-logo-img">
                    <source type="image/avif" srcset="../assets/logo5.avif">
                    <source type="image/webp" srcset="../assets/logo5.webp">
                    <img src="../assets/logo5.png" alt="Amsterdam UMC" width="150" height="auto" loading="lazy">
                </picture>

                <picture class="partner-logo-img">
                    <source type="image/avif" srcset="../assets/logo6.avif">
                    <source type="image/webp" srcset="../assets/logo6.webp">
                    <img src="../assets/logo6.png" alt="Antoni van Leeuwenhoek" width="150" height="auto"
                        loading="lazy">
                </picture>
            </div>
        </div>
    </section>

    {% comment %} loading="lazy"' zorgt ervoor dat de afbeelding pas geladen wordt als hij in beeld komt (performance).
    {% endcomment %}

    {% comment %} Webinars {% endcomment %}
    <section>
        <h2 class="h2-main-title">Webinars:</h2>
        <div class="webinars-container-scroll">
            {% for webinar in webinars %}
            <a href="/webinars/{{ webinar.slug }}" class="webinar-link">
                <article class="webinar-item">
                    <picture>
                        <source type="image/avif"
                            srcset="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail | replace: '.png', '.avif' | replace: '.jpg', '.avif' }}">

                        <source type="image/webp"
                            srcset="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail | replace: '.png', '.webp' | replace: '.jpg', '.webp' }}">

                        <img loading="lazy" src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}"
                            class="home-webinar-thumbnail-img" alt="{{ webinar.title }}" width="200" height="auto"
                            decoding="async">
                    </picture>

                    {% comment %} Door vaste width en height in te stellen voorkom ik layout shifts. De browser weet dan
                    vooraf hoeveel ruimte de afbeelding inneemt, zodat content niet verspringt zodra de afbeelding
                    geladen is. Dit verbetert de gebruikerservaring en je performance. {% endcomment %}

                    <h3 class="webinar-title">{{ webinar.title }}</h3>

                    {% for speaker in webinar.speakers %}
                    <p class="speakers-text">{{ speaker.avl_speakers_id.fullname }}</p>
                    {% endfor %}

                    <p class="date-text">{{ webinar.date }}</p>

                    {% for category in webinar.categories %}
                    <p class="categorie-box">{{ category.avl_categories_id.name }}</p>
                    {% endfor %}
                </article>
            </a>
            {% else %}
            <div class="empty_state">
                <h3 class="h3-empty-state">No webinars found</h3>
                <p class="p-empty-state">There are no webinars available at this time.</p>
            </div>
            {% endfor %}
        </div>
    </section>

    {% comment %} Contourings {% endcomment %}
    <section>
        <h2 class="h2-main-title">Contourings:</h2>
        <div class="contourings-container-scroll">
            {% for contouring in contourings %}
            <a href="/contourings/{{ contouring.slug }}" class="contouring-link">
                <article class="contouring-item">
                    <picture>
                        <source type="image/avif"
                            srcset="https://fdnd-agency.directus.app/assets/{{ contouring.image_scan | replace: '.png', '.avif' | replace: '.jpg', '.avif' }}">

                        <source type="image/webp"
                            srcset="https://fdnd-agency.directus.app/assets/{{ contouring.image_scan | replace: '.png', '.webp' | replace: '.jpg', '.webp' }}">

                        <img loading="lazy" src="https://fdnd-agency.directus.app/assets/{{ contouring.image_scan }}"
                            class="contouring-img" alt="{{ contouring.title }}" width="200" height="auto"
                            decoding="async">
                    </picture>

                    {% comment %} Het picture element toont een afbeelding van een 'contouring' met ondersteuning voor
                    moderne formaten. Het source element probeert eerst de AVIF- en WebP-variant van de afbeelding te
                    laden (voor betere prestaties). Als dat niet wordt ondersteund, valt het terug op het originele
                    formaat (.png of .jpg).{% endcomment %}

                    <h3 class="contouring-title">{{ contouring.title }}</h3>

                    {% for category in contouring.categories %}
                    <p class="categorie-box">{{ category.avl_categories_id.name }}</p>
                    {% endfor %}
                </article>
            </a>
            {% endfor %}
        </div>
    </section>

</main>

{% render 'partials/foot.liquid' %}