{% render 'partials/head.liquid' %}

<main id="content">

    <section class="intro-section">
        <div class="intro-content">
            <h1 class="main-title">Oncollaboration</h1>
            <p class="about-us-text">
                <strong>Oncollaboration</strong> is een platform dat oncologieprofessionals wereldwijd verbindt.
                Samen met partners als <strong>Antoni van Leeuwenhoek Ziekenhuis (AVL)</strong> en
                <strong>Dr. Sardjito Ziekenhuis</strong> delen we kennis, hulpmiddelen en innovaties om de kankerzorg te
                verbeteren.
            </p>
        </div>

        <div class="partners-preview">
            <h2 class="h2-main-title">Onze partners</h2>
            <!-- Partner logo’s of cards hier -->
        </div>
    </section>


    <!-- Webinars -->
    <section>
        <h2 class="h2-main-title">Webinars:</h2>
        <div class="webinars-container-scroll">
            {% for webinar in webinars %}
            <a href="/webinars/{{ webinar.slug }}" class="webinar-link">
                <article class="webinar-item">
                    <picture>
                        <source type="image/avif"
                            srcset="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail | replace: '.png', '.avif' | replace: '.jpg', '.avif' }}">

                        <source type="image/webp"
                            srcset="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail | replace: '.png', '.webp' | replace: '.jpg', '.webp' }}">

                        <img loading="lazy" src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}"
                            class="home-webinar-thumbnail-img" alt="{{ webinar.title }}" width="200" height="auto"
                            decoding="async">
                    </picture>
                    <h3 class="webinar-title">{{ webinar.title }}</h3>

                    {% for speaker in webinar.speakers %}
                    <p class="speakers-text">{{ speaker.avl_speakers_id.fullname }}</p>
                    {% endfor %}

                    <p class="date-text">{{ webinar.date }}</p>

                    {% for category in webinar.categories %}
                    <p class="categorie-box">{{ category.avl_categories_id.name }}</p>
                    {% endfor %}
                </article>
            </a>
            {% else %}
            <div class="empty_state">
                <h3 class="h3-empty-state">No webinars found</h3>
                <p class="p-empty-state">There are no webinars available at this time.</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Contourings -->
    <section>
        <h2 class="h2-main-title">Contourings:</h2>
        <div class="contourings-container-scroll">
            {% for contouring in contourings %}
            <a href="/contourings/{{ contouring.slug }}" class="contouring-link">
                <article class="contouring-item">
                    <img src="https://fdnd-agency.directus.app/assets/{{ contouring.image_scan }}"
                        class="contouring-img">
                    <h3 class="contouring-title">{{ contouring.title }}</h3>

                    {% for category in contouring.categories %}
                    <p class="categorie-box">{{ category.avl_categories_id.name }}</p>
                    {% endfor %}
                </article>
            </a>
            {% endfor %}
        </div>
    </section>

</main>

{% render 'partials/foot.liquid' %}